{{ define "main" -}}

<main>

  <header>
{{- if not .IsHome }}
    <h1>{{ .Title | markdownify }}</h1>
{{- else if .IsHome }}
    <h1>{{ .Site.Title }} - {{ .Site.Params.brand }}</h1>
{{- end }}
  </header>

  <section>
{{ .Content }}
  </section>

{{- with .File -}}{{- $.Scratch.Set "fileDir" .Dir -}}{{- end -}}
{{- if eq ($.Scratch.Get "fileDir") "about/" -}}
  {{- $.Scratch.Set "latest-posts" (index .Site.Taxonomies.tags "about") -}}
{{ else if eq .Kind "section" -}}
  {{- $.Scratch.Set "latest-posts" .CurrentSection.Pages -}}
{{- else -}}
  {{- $.Scratch.Set "latest-posts" .Site.RegularPages -}}
{{- end }}
{{ partial "latest-posts.html" . }}

</main>

{{- end }}
