{{ define "doc_custom_css" -}}
  {{- if ne (print (.Resources.Match "custom.css")) "[]" -}}
  <link rel="stylesheet" href="custom.css" />
  {{- end -}}
{{- end }}

{{ define "main" -}}
<main>
  <article>
    <header>
      <h1>{{ .Title }}</h1>
      <dl id="doc-info">

        {{ if .Params.date -}}
        <div id="published-date">
          <dt>Published</dt>
          <dd><time datetime="{{ .Date.Format "2006-01-02T00:00:00+09:00" }}">{{ .Date.Format "2006/01/02 00:00" }}</time></dd>
        </div>
        {{- end }}
        {{ if and (.Params.lastmod) (ne .Params.lastmod .Params.date) -}}
        <div id="modified-date">
          <dt>Modified</dt>
          <dd><time datetime="{{ .Lastmod.Format "2006-01-01T00:00:00+09:00" }}">{{ .Lastmod.Format "2006/01/02 00:00" }}</time></dd>
        </div>
        {{- end }}
        {{ range $i := (slice "categories" "tags") -}}
          {{- with ($.Param $i) }}
            {{- $idx_max := (len .) -}}
        <div id="{{ singularize $i }}">
          <dt>
            {{- if eq $idx_max 1 -}}
              {{- $i | singularize | title -}}
            {{- else -}}
              {{- $i | title -}}
            {{- end -}}
          </dt>
            {{- range $k := . }}
          <dd><a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{ $k }}</a></dd>
            {{- end }}
        </div>
          {{- end -}}
        {{ end }}

      </dl>
      {{ if and .Params.toc (ne .Params.markup "mmark") -}}
      <details open id="toc">
        <summary>Table of contents</summary>
{{ .TableOfContents }}
      </details>
      {{- end }}

    </header>

{{ .Content }}

{{ if eq .File.Dir "about/" -}}
  {{- $.Scratch.Set "latest-posts" (index .Site.Taxonomies.tags "about") -}}
  {{- partial "latest-posts.html" . -}}
{{- end }}

    <footer>
      <nav><a href="/"> >> Home</a></nav>
    </footer>
  </article>
</main>
{{- end }}
