  <header>
    <nav>
      <ul>
        {{ $title := lower .Title -}}
        {{- $section := lower .Section -}}
        <li{{ if .IsHome }} class="current"{{ end }}>
          <a href="{{ .Site.BaseURL }}">/{{ lower .Site.Title}}</a>
        </li>
        {{ range .Site.Menus.main -}}
          {{- $name := lower .Name -}}
        <li{{ if or (eq $name $title) (eq $section $name) (eq $title (pluralize $name)) }} class="current"{{ end }}>
          <a href="{{ .URL }}">~/{{ lower .Name }}</a>
        </li>
        {{ end -}}
        {{ range .Site.Menus.feed -}}
          {{- $name := lower .Name -}}
        <li>
          <a href="{{ .URL }}">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="16px" height="16px" id="feed-icon" viewBox="0 0 256 256">
              <title>feed</title>
              <circle cx="68" cy="189" r="24" />
              <path d="M160 213h-34a82 82 0 0 0 -82 -82v-34a116 116 0 0 1 116 116z" />
              <path d="M184 213A140 140 0 0 0 44 73 V 38a175 175 0 0 1 175 175z" />
            </svg>
          </a>
        </li>
        {{- end }}
      </ul>
    </nav>
  </header>
