<footer>
  <nav>
    <ul>
      <li><a href="/about/">About</a></li>
      <li><a href="/policy/">Policy</a></li>
    </ul>
  </nav>
  <p>
    <small>
      {{ .Site.Params.copyrightHTML | .Page.RenderString -}}
      {{- print " " }}
      <a rel="license" title="CC BY-NC-SA 4.0" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ja">
        <img alt="CC" src="/img/license/cc.svg" width="14" height="14" />
        <img alt="BY" src="/img/license/by.svg" width="14" height="14" />
        <img alt="NC" src="/img/license/nc.svg" width="14" height="14" />
        <img alt="SA" src="/img/license/sa.svg" width="14" height="14" />
      </a>
    </small>
  </p>
</footer>

</body>
</html>