  <section>
    <h2 id="latest-posts">Latest posts{{ if eq .File.Dir "about/"}} (tag: about){{ end }}</h2>
    <dl>
  {{- range $.Scratch.Get "latest-posts" }}
      <div>
        <dt><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006/01/02" }}</time></dt>
        <dd><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></dd>
        {{ if eq $.Kind "taxonomy" -}}
          {{ $summary_mod := replaceRE "<details id=\"changelog\">[\\s\\S]+?</details>\\s+([\\s\\S]+?)" "$1" .Content }}
          {{ $summary_mod := replaceRE "([\\s\\S]*?)<h\\d[^>]*>[\\s\\S]+?</h\\d>\\s+([\\s\\S]*?)" "$1$2" $summary_mod }}
        <dd class="summary{{ if .Truncated }} truncated{{ end }}">{{ substr (plainify $summary_mod) 0 140 }}</dd>
        {{- end }}
      </div>
  {{- end }}
    </dl>
  </section>