{{- $debug := false -}}

{{- $scr := newScratch -}}
{{- $rows := replaceRE "([\\s\\S]*)\\n?(?:[Cc]aption|[Tt]able):\\s+[^\\n]*\\n?([\\s\\S]*)" "$1$2" .Inner -}}
{{- $rows := $rows | findRE "((?:[^|\n]|\\\\|)*\\|)+" -}}

{{- $scr.Set "temp_rowspans" slice -}}
{{- $scr.Set "temp_colspan" slice -}}
{{- $scr.Set "head_end" false -}}
{{- $scr.Set "head_border_index" 0 -}}

{{- range $row_idx, $row := $rows -}}
  {{- $row := replace $row "\\|" "&brvbar;" -}}
  {{- $temp_cell_values := (findRE "([^|]|\\s)*" $row) -}}
  {{- $temp_cell_values := (first (sub (len $temp_cell_values) 2) (after 1 $temp_cell_values)) -}}
  {{- $scr.Add "cell_values" (slice $temp_cell_values) -}}
  {{- if ne ($scr.Get "head_end") -}}
    {{- if (findRE "^[-|:\\s]+$" $row) -}}
      {{- $scr.Set "head_end" true -}}
      {{- $scr.Set "head_border_index" $row_idx -}}
    {{- else -}}
      <!-- get colspan -->
      {{- $pipes := findRE "\\|+" $row -}}
      {{- range $idx, $pipe := (after 1 $pipes) -}}
        {{- $span_len := len (findRE "\\|" $pipe) -}}
        {{- if eq $span_len 1 -}}
          {{- $scr.Add "temp_colspan" (slice 1) -}}
        {{- else if gt $span_len 1 -}}
          {{- $scr.Add "temp_colspan" (slice $span_len) -}}
          {{- range seq (sub $span_len 1) -}}
            {{- $scr.Add "temp_colspan" (slice 0) -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
      {{- $scr.Add "colspans" (slice ($scr.Get "temp_colspan")) -}}
      {{- $scr.Delete "temp_colspan" -}}

      <!-- get rowspan 1/2 -->
      {{- $cols := findRE "[^|\n]*\\|" $row -}}
      {{- range $col_idx, $col := (after 1 $cols) -}}
        {{- $col_value := $col | replaceRE "\\s+([^|]+?)\\s+\\|" "$1" -}}
        {{- $is_rowspan := cond (ge (len (findRE "\\^{2,}" $col_value)) 1) true false -}}
        {{- $scr.Add "temp_rowspans" (cond $is_rowspan (slice 0) (slice 1)) -}}
      {{- end -}}
      {{- $scr.Add "rowspans" (slice ($scr.Get "temp_rowspans")) -}}
      {{- $scr.Set "temp_rowspans" slice -}}

    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $head_border_index := $scr.Get "head_border_index" -}}
{{- $cell_values := $scr.Get "cell_values" -}}
{{- $rowspans := $scr.Get "rowspans" -}}
{{- $colspans := $scr.Get "colspans" -}}
{{- $row_idx_max := (sub (len $rowspans) 1) -}}
{{- $col_idx_max := (sub (len (index $colspans 0)) 1) -}}
{{- $scr.Set "temp_rowspan" 1 -}}
{{- $scr.Set "temp_rowspan_calc" slice -}}
{{- $scr.Set "stop_next" false -}}

{{- if $debug -}}
  {{- print "sum_colspan: {" (add $col_idx_max 1) "}" $colspans -}}
  {{- "<br>" | markdownify -}}
  {{- print "sum_rowspan: {" (add $row_idx_max 1) "}" $rowspans -}}
  {{- "<br>" | markdownify -}}
{{- end -}}

<!-- get rowspan 2/2 -->
{{- range $c := seq 0 $col_idx_max -}}
  {{- range $r := seq 0 $row_idx_max -}}
    {{- if lt $r $head_border_index -}}
      {{- $scr.Set "stop_next" false -}}
      {{- if eq 1 (index (index $rowspans $r) $c) -}}
        {{- if lt $r $row_idx_max -}}
          {{- range seq (add $r 1) $row_idx_max -}}
            {{- if and (eq 0 (index (index $rowspans .) $c)) (not ($scr.Get "stop_next")) -}}
              {{- $scr.Add "temp_rowspan" 1 -}}
            {{- else -}}
              {{- $scr.Set "stop_next" true -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
        {{- $scr.Add "temp_rowspan_calc" (int ($scr.Get "temp_rowspan")) -}}
        {{- $scr.Set "temp_rowspan" 1 -}}
      {{- else if eq 0 (index (index $rowspans $r) $c) -}}
        {{- $scr.Add "temp_rowspan_calc" (int 0) -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- $scr.Add "rowspans_calc" (slice ($scr.Get "temp_rowspan_calc")) -}}
  {{- $scr.Set "temp_rowspan_calc" slice -}}
{{- end -}}

{{- $rowspans_calc := $scr.Get "rowspans_calc" -}}
{{- $scr.Set "temp_sum_colspan" 0 -}}
{{- $scr.Set "temp_sum_colspan_pre" 0 -}}

{{- if $debug -}}
  {{- printf "%v" $rowspans_calc -}}
  {{- "<br>" | markdownify -}}
{{- end -}}

<!-- make thead and error check -->
{{- $scr.Set "thead" "<thead>\n" -}}
{{- range $r := seq 0 (sub $head_border_index 1) -}}
  {{- $scr.Add "thead" "<tr>\n" -}}
  {{- range $c := seq 0 $col_idx_max -}}
    {{- $rowspan := (index (index $rowspans_calc $c) $r) -}}
    {{- $colspan := (index (index $colspans $r) $c) -}}
    {{- $scr.Add "temp_sum_colspan" $colspan -}}
    {{- if or (and (gt $colspan 1) (or (eq $rowspan 0) (gt $rowspan 1))) (and (or (eq $colspan 0) (gt $colspan 1)) (gt $rowspan 1))  -}}
      {{- $msg := "rowspan and colspan setting are conflicted.\n[r,c] = [%d,%d]\n$colspan = %d\n$rowspan = %d\n%v\n%v" -}}
      {{- errorf $msg $r $c $colspan $rowspan (first $head_border_index $colspans) $rowspans_calc -}}
    {{- end -}}
    {{- if eq $rowspan 0 -}}
      {{- $scr.Add "thead" "<!-- rowspan -->\n" -}}
    {{- else if eq $colspan 0 -}}
      {{- $scr.Add "thead" "<!-- colspan -->\n" -}}
    {{- else -}}
      {{- $attr_rowspan := cond (ge $rowspan 2) (printf " rowspan=\"%d\"" $rowspan) "" -}}
      {{- $attr_colspan := cond (ge $colspan 2) (printf " colspan=\"%d\"" $colspan) "" -}}
      {{- $cell_value := (index (index $cell_values $r) $c) -}}
      {{- $cell_value := $cell_value | replaceRE "^\\s*(.*?)\\s+$" "$1" -}}
      {{- $scr.Add "thead" (printf "<th%v%v>%v</th>\n" $attr_rowspan $attr_colspan ($cell_value | markdownify)) -}}
      {{- $temp_head_spans := "" -}}
    {{- end -}}
  {{- end -}}
  {{- $scr.Add "thead" "</tr>\n" -}}
  {{- if and (gt $r 0) (ne ($scr.Get "temp_sum_colspan") ($scr.Get "temp_sum_colspan_pre")) -}}
    {{- errorf "col number of each cols are not equal. (row = %d)" $r -}}
  {{- end -}}
  {{- $scr.Set "temp_sum_colspan_pre" ($scr.Get "temp_sum_colspan") -}}
  {{- $scr.Set "temp_sum_colspan" 0 -}}
{{- end -}}
{{- $scr.Add "thead" "</thead>\n" -}}
{{- $thead := $scr.Get "thead" -}}

<!-- make tbody -->
{{- $scr.Add "tbody" "<tbody>\n" -}}
{{- range $r := seq (add $head_border_index 1) (sub (len $rows) 1) -}}
  {{- $scr.Add "tbody" "<tr>\n" -}}
  {{- range $c := seq 0 $col_idx_max -}}
    {{- $cell_value := (index (index $cell_values $r) $c) -}}
    {{- $cell_value := replaceRE "^\\s*(.*?)\\s+$" "$1" $cell_value -}}
    {{- $scr.Add "tbody" (printf "<td>%v</td>\n" ($cell_value | markdownify)) -}}
  {{- end -}}
  {{- $scr.Add "tbody" "</tr>\n" -}}
{{- end -}}
{{- $scr.Add "tbody" "</tbody>\n" -}}
{{- $tbody := $scr.Get "tbody" -}}

<!-- get and make caption -->
{{- $caption := replaceRE "[\\s\\S]*\\n?(?:[Cc]aption|[Tt]able):\\s+([^\\n]+)\\n?[\\s\\S]*" "$1" .Inner -}}
{{- if eq $caption .Inner -}}
  {{- $scr.Set "caption" "" -}}
{{- end -}}
{{- if ne ($scr.Get "caption") "" -}}
  {{- $scr.Set "caption" (printf "<caption>%v</caption>\n" ($caption | .Page.RenderString)) -}}
{{- end -}}
{{- $caption := $scr.Get "caption" -}}

<!-- get and make attribution -->
{{- $id := .Get "id" -}}
{{- $id := cond (ne $id nil) (printf " id=\"%v\"" $id) ""}}

{{- $class := .Get "class" -}}
{{- $class := cond (ne $class nil) (printf " class=\"%v\"" $class) ""}}

<!-- render table -->
{{- printf "<table%v%v>\n%v%v%v</table>\n" $id $class $caption $thead $tbody | .Page.RenderString -}}
