{{- $caption := (replaceRE "[\\s\\S]*\\n?Table: ([^\\n]*)\\n?[\\s\\S]*" "$1" .Inner) -}}
{{- $table_temp := (.Inner | replaceRE "Table: .*\\n" "" | .Page.RenderString) -}}
{{- $table_temp := replace $table_temp "<table>" "" -}}
{{- $table_temp := print "<table>\n  <caption>" $caption "</caption>" $table_temp -}}
{{- $table_temp := replaceRE "(</?(?:thead|tbody)>)" "  $1" $table_temp -}}
{{- $table_temp := replaceRE "(</?(?:tr)>)" "    $1" $table_temp -}}
{{- $table_temp := replaceRE "(<(?:th|td)>)" "      $1" $table_temp -}}
{{- $table_temp := replaceRE "\\n$" "" $table_temp -}}
{{- $table_temp | .Page.RenderString -}}